/* .dashboard {
  display: flex;
  font-size: 3rem;
  background-color: #17425A;
  height: 100%;
} */

/* .page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
} */
/* .main-content {
  flex: 1; 
} */
/* .footer {
  text-align: center;
  padding: 10px 0;
} */
