@import url('https://fonts.cdnfonts.com/css/avenir');

.footer {
    /* position: absolute; */
    /* bottom: 0; */
    left: 276px;
    top: 494px;
    /* width: 91vw; */
    color: #fff;
    /* text-align: center; */
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    width: 66%;
    height: 50px;
}
.footer ul {
    /* list-style: none;
    padding: 0; */
  }
/* .icons{
    display: 'flex';
    list-style: 'none';
    align-items: 'center'
} */
.footer-items {
    display: flex;
    list-style: none;
    align-items: center;
}

.footer-items li {
    margin-right: 20px; /* Add some spacing between list items */
}

.footer-items li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
}
.icon{
color: #fff;
height: 30px;
}