/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.app {
  display: flex;
}

.app-container {
  display: flex;
}

.content {
  flex: 1;
}


.main{
  background-color: #17425A;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
} */
